:host {
  display: block;
}


.hash-container {
  display: grid;
  justify-content: center;
}

.dark-input {
  background: #212529;
  color: white;
}

.result-container {
  background: #313437;
  padding: 1em;
  border-radius: .5em;
}